<screen name="MainSetting" position="0,0" size="1280,720" title="..::HasBahCa::.." backgroundColor="#20000000" flags="wfNoBorder">
	<widget name="title" position="205,31" size="553,26" font="Regular;22" halign="center" valign="center" foregroundColor="#ffff00" backgroundColor="black" transparent="1" zPosition="5"/>
	<widget name="info" position="146,86" size="646,33" font="Regular;20" halign="center" valign="center" foregroundColor="yellow" backgroundColor="#202020" transparent="0" zPosition="5"/>
	<widget name="progress" position="367,630" size="200,33" foregroundColor="#2a70a4" backgroundColor="#10000000" transparent="1" zPosition="5"/>
	<widget source="progresstext" render="Label" font="Regular;13" position="367,631" size="200,33" backgroundColor="#202020" transparent="1" halign="center" zPosition="6"/>
	<widget name="live" position="152,495" size="637,33" font="Regular;20" halign="left" foregroundColor="yellow" backgroundColor="#20000000" transparent="1" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/main2hd.png" position="0,0" size="1280,720" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/tvs.png" position="163,530" size="600,80" alphatest="blend" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sep.png" position="146,73" size="646,5" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sep.png" position="146,613" size="646,5" zPosition="5"/>
	<!-- Menu List -->
	<widget name="text" position="146,126" size="646,366" font="Regular;20" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sliderb.png"/>
	<!-- Colors 1220 -->
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_red.png" position="146,636" size="20,20" alphatest="on" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_green.png" position="146,673" size="20,20" alphatest="on" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_yellow.png" position="770,636" size="20,20" alphatest="on" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_blue.png" position="770,673" size="20,20" alphatest="on" zPosition="5"/>
	<widget name="key_red" position="180,633" size="200,26" font="Regular;20" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_green" position="180,670" size="200,26" font="Regular;20" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_yellow" position="556,633" size="200,26" font="Regular;20" halign="right" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_blue" position="556,670" size="200,26" font="Regular;20" halign="right" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
</screen>