<!-- Skin Setting 15/08/2020 -->
<screen name="MainSetting" position="0,0" size="2560,1440" title="..::HasBahCa::.." backgroundColor="#ff000000" flags="wfNoBorder">
	<widget name="title" position="402,74" size="1107,54" font="Regular;46" halign="center" valign="center" foregroundColor="#ffff00" backgroundColor="black" transparent="1" zPosition="5" />
	<widget name="info" position="294,174" size="1294,67" font="Regular;40" halign="center" valign="center" foregroundColor="yellow" backgroundColor="#202020" transparent="0" zPosition="5" />
	<widget name="progress" position="751,1266" size="400,67" foregroundColor="#2a70a4" backgroundColor="#10000000" transparent="1" zPosition="5" />
	<widget source="progresstext" render="Label" font="Regular;27" position="750,1267" size="400,67" backgroundColor="#202020" transparent="1" halign="center" zPosition="6" />	
	<widget name="live" position="295,1026" size="1295,67" font="Regular;40" halign="left" foregroundColor="yellow" backgroundColor="#20000000" transparent="1" zPosition="5" />

	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/main2.png" position="0,0" size="2560,1440" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/tvs.png" position="524,1110" size="800,107" alphatest="blend" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sep.png" position="294,147" size="1294,11" zPosition="5" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sep.png" position="294,1014" size="1294,7" zPosition="5" />
  	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/sep.png" position="294,1227" size="1294,11" zPosition="5" />	
	
	<!-- Menu List -->
	<widget name="text" position="294,254" size="1294,734" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" />

  	<!-- Colors 1220 -->
  	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_red.png" position="294,1274" size="40,40" alphatest="on" zPosition="5" />
  	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_green.png" position="294,1347" size="40,40" alphatest="on" zPosition="5" />
  	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_yellow.png" position="1540,1274" size="40,40" alphatest="on" zPosition="5" />
  	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/HasBahCa/res/pics/key_blue.png" position="1540,1347" size="40,40" alphatest="on" zPosition="5" />
  	<widget name="key_red" position="360,1267" size="400,54" font="Regular;40" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
  	<widget name="key_green" position="360,1340" size="400,54" font="Regular;40" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
  	<widget name="key_yellow" position="1114,1267" size="400,54" font="Regular;40" halign="right" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />
  	<widget name="key_blue" position="1114,1340" size="400,54" font="Regular;40" halign="right" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1" />

</screen>